.odd {
  background-color: rgb(115, 170, 221);
}

.even {
  background-color: rgb(207, 178, 235);
}

.news {
  border: 1px dashed black;
}
.button {
  border: 3px double green;
}
.delete {
  border: 3px double red;
}
